## Dependencies

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from collections import Counter

from pathlib import Path

import sqlite3

## Create the database

In [2]:
## Create the database NAME: db_w2tables
Path('db2_w2tables.sqlite').touch()

In [3]:
## Connecto to the database
conn = sqlite3.connect('db2_w2tables.sqlite')
c = conn.cursor()

In [4]:
## Create table named table_users2 in database named db_w2tables
c.execute('''CREATE TABLE table_users2 (user_id2 int, username2 text)''')

## Create table named table_city2 in database named db_w2tables
c.execute('''CREATE TABLE table_city2 (name2 text, population2 int)''')

In [5]:
# load the data into a Pandas DataFrame
users2_del_csv = pd.read_csv('users2.csv')

# load the data into a Pandas DataFrame
city2_del_csv = pd.read_csv('city2.csv')

In [6]:
# write the data to a sqlite table
users2_del_csv.to_sql('table_users2', conn, if_exists='append', index = False)

# write the data to a sqlite table
city2_del_csv.to_sql('table_city2', conn, if_exists='append', index = False)

In [7]:
## Check the data is in there in table table_users2

c.execute('''SELECT * FROM table_users2''').fetchall()

[(1, 'Paco'), (2, 'Pedro'), (3, 'Jhon'), (4, 'Peter'), (5, 'Julia')]

In [8]:
## Check the data is in there in table table_city2

c.execute('''SELECT * FROM table_city2''').fetchall()

[('Abilene2', 115930),
 ('Akron', 217074),
 ('Albany', 93994),
 ('Albuquerque', 448607),
 ('Alexandria', 128283),
 ('Allentown', 106632),
 ('Amarillo', 173627),
 ('Anaheim', 328014),
 ('Anchorage', 260283),
 ('Ann Arbor', 114024),
 ('Arden-Arcade', 92040),
 ('Arlington', 332969),
 ('Arlington', 174838),
 ('Arvada', 102153),
 ('Athens-Clarke County', 101489),
 ('Atlanta', 416474),
 ('Augusta-Richmond County', 199775),
 ('Aurora', 276393),
 ('Aurora', 142990),
 ('Austin', 656562),
 ('Bakersfield', 247057),
 ('Baltimore', 651154),
 ('Baton Rouge', 227818),
 ('Beaumont', 113866),
 ('Bellevue', 109569),
 ('Berkeley', 102743),
 ('Billings', 92988),
 ('Birmingham', 242820),
 ('Boise City', 185787),
 ('Boston', 589141),
 ('Boulder', 91238),
 ('Bridgeport', 139529),
 ('Brockton', 93653),
 ('Brownsville', 139722),
 ('Buffalo', 292648),
 ('Burbank', 100316),
 ('Cambridge', 101355),
 ('Cape Coral', 102286),
 ('Carrollton', 109576),
 ('Carson', 89089),
 ('Cary', 91213),
 ('Cedar Rapids', 120758),
 ('Chandler', 176581),
 ('Charleston', 89063),
 ('Charlotte', 540828),
 ('Chattanooga', 155554),
 ('Chesapeake', 199184),
 ('Chicago', 2896016),
 ('Chula Vista', 173556),
 ('Cincinnati', 331285),
 ('Citrus Heights', 103455),
 ('Clarksville', 108787),
 ('Clearwater', 99936),
 ('Cleveland', 478403),
 ('Colorado Springs', 360890),
 ('Columbia', 116278),
 ('Columbus', 711470),
 ('Columbus', 186291),
 ('Compton', 92864),
 ('Concord', 121780),
 ('Coral Springs', 117549),
 ('Corona', 124966),
 ('Corpus Christi', 277454),
 ('Costa Mesa', 108724),
 ('Dallas', 1188580),
 ('Daly City', 103621),
 ('Davenport', 98256),
 ('Dayton', 166179),
 ('Denver', 554636),
 ('Des Moines', 198682),
 ('Detroit', 951270),
 ('Downey', 107323),
 ('Durham', 187035),
 ('East Los Angeles', 126379),
 ('El Cajon', 94578),
 ('El Monte', 115965),
 ('El Paso', 563662),
 ('Elgin', 89408),
 ('Elizabeth', 120568),
 ('Erie', 103717),
 ('Escondido', 133559),
 ('Eugene', 137893),
 ('Evansville', 121582),
 ('Fairfield', 92256),
 ('Fall River', 90555),
 ('Fayetteville', 121015),
 ('Flint', 124943),
 ('Fontana', 128929),
 ('Fort Collins', 118652),
 ('Fort Lauderdale', 152397),
 ('Fort Wayne', 205727),
 ('Fort Worth', 534694),
 ('Fremont', 203413),
 ('Fresno', 427652),
 ('Fullerton', 126003),
 ('Gainesville', 92291),
 ('Garden Grove', 165196),
 ('Garland', 215768),
 ('Gary', 102746),
 ('Gilbert', 109697),
 ('Glendale', 218812),
 ('Glendale', 194973),
 ('Grand Prairie', 127427),
 ('Grand Rapids', 197800),
 ('Green Bay', 102313),
 ('Greensboro', 223891),
 ('Hampton', 146437),
 ('Hartford', 121578),
 ('Hayward', 140030),
 ('Henderson', 175381),
 ('Hialeah', 226419),
 ('Hollywood', 139357),
 ('Honolulu', 371657),
 ('Houston', 1953631),
 ('Huntington Beach', 189594),
 ('Huntsville', 158216),
 ('Independence', 113288),
 ('Indianapolis', 791926),
 ('Inglewood', 112580),
 ('Irvine', 143072),
 ('Irving', 191615),
 ('Jackson', 184256),
 ('Jacksonville', 735167),
 ('Jersey City', 240055),
 ('Joliet', 106221),
 ('Kansas City', 441545),
 ('Kansas City', 146866),
 ('Kenosha', 89447),
 ('Knoxville', 173890),
 ('Lafayette', 110257),
 ('Lakewood', 144126),
 ('Lancaster', 118718),
 ('Lansing', 119128),
 ('Laredo', 176576),
 ('Las Vegas', 478434),
 ('Lexington-Fayette', 260512),
 ('Lincoln', 225581),
 ('Little Rock', 183133),
 ('Livonia', 100545),
 ('Long Beach', 461522),
 ('Los Angeles', 3694820),
 ('Louisville', 256231),
 ('Lowell', 105167),
 ('Lubbock', 199564),
 ('Macon', 113336),
 ('Madison', 208054),
 ('Manchester', 107006),
 ('McAllen', 106414),
 ('Memphis', 650100),
 ('Mesa', 396375),
 ('Mesquite', 124523),
 ('Metairie', 149428),
 ('Miami', 362470),
 ('Miami Beach', 97855),
 ('Midland', 98293),
 ('Milwaukee', 596974),
 ('Minneapolis', 382618),
 ('Mission Viejo', 98049),
 ('Mobile', 198915),
 ('Modesto', 188856),
 ('Montgomery', 201568),
 ('Moreno Valley', 142381),
 ('Naperville', 128358),
 ('Nashville-Davidson', 569891),
 ('New Bedford', 94780),
 ('New Haven', 123626),
 ('New Orleans', 484674),
 ('New York', 8008278),
 ('Newark', 273546),
 ('Newport News', 180150),
 ('Norfolk', 234403),
 ('Norman', 94193),
 ('North Las Vegas', 115488),
 ('Norwalk', 103298),
 ('Oakland', 399484),
 ('Oceanside', 161029),
 ('Odessa', 89293),
 ('Oklahoma City', 506132),
 ('Omaha', 390007),
 ('Ontario', 158007),
 ('Orange', 128821),
 ('Orlando', 185951),
 ('Overland Park', 149080),
 ('Oxnard', 170358),
 ('Palmdale', 116670),
 ('Paradise', 124682),
 ('Pasadena', 141674),
 ('Pasadena', 133936),
 ('Paterson', 149222),
 ('Pembroke Pines', 137427),
 ('Peoria', 112936),
 ('Peoria', 108364),
 ('Philadelphia', 1517550),
 ('Phoenix', 1321045),
 ('Pittsburgh', 334563),
 ('Plano', 222030),
 ('Pomona', 149473),
 ('Portland', 529121),
 ('Portsmouth', 100565),
 ('Providence', 173618),
 ('Provo', 105166),
 ('Pueblo', 102121),
 ('Raleigh', 276093),
 ('Rancho Cucamonga', 127743),
 ('Reno', 180480),
 ('Richmond', 197790),
 ('Richmond', 94100),
 ('Riverside', 255166),
 ('Roanoke', 93357),
 ('Rochester', 219773),
 ('Rockford', 150115),
 ('Sacramento', 407018),
 ('Saint Louis', 348189),
 ('Saint Paul', 287151),
 ('Saint Petersburg', 248232),
 ('Salem', 136924),
 ('Salinas', 151060),
 ('Salt Lake City', 181743),
 ('San Antonio', 1144646),
 ('San Bernardino', 185401),
 ('San Buenaventura', 100916),
 ('San Diego', 1223400),
 ('San Francisco', 776733),
 ('San Jose', 894943),
 ('San Mateo', 91799),
 ('Sandy', 101853),
 ('Santa Ana', 337977),
 ('Santa Clara', 102361),
 ('Santa Clarita', 151088),
 ('Santa Monica', 91084),
 ('Santa Rosa', 147595),
 ('Savannah', 131510),
 ('Scottsdale', 202705),
 ('Seattle', 563374),
 ('Shreveport', 200145),
 ('Simi Valley', 111351),
 ('Sioux Falls', 123975),
 ('South Bend', 107789),
 ('Spokane', 195629),
 ('Springfield', 152082),
 ('Springfield', 151580),
 ('Springfield', 111454),
 ('Stamford', 117083),
 ('Sterling Heights', 124471),
 ('Stockton', 243771),
 ('Sunnyvale', 131760),
 ('Sunrise Manor', 95362),
 ('Syracuse', 147306),
 ('Tacoma', 193556),
 ('Tallahassee', 150624),
 ('Tampa', 303447),
 ('Tempe', 158625),
 ('Thousand Oaks', 117005),
 ('Toledo', 313619),
 ('Topeka', 122377),
 ('Torrance', 137946),
 ('Tucson', 486699),
 ('Tulsa', 393049),
 ('Vallejo', 116760),
 ('Vancouver', 143560),
 ('Virginia Beach', 425257),
 ('Visalia', 91762),
 ('Waco', 113726),
 ('Warren', 138247),
 ('Washington', 572059),
 ('Waterbury', 107271),
 ('West Covina', 105080),
 ('West Valley City', 108896),
 ('Westminster', 100940),
 ('Wichita', 344284),
 ('Wichita Falls', 104197),
 ('Winston-Salem', 185776),
 ('Worcester', 172648),
 ('Yonkers', 196086)]

## Close connection to the database

In [9]:
conn.close()

In [10]:
c.close()

ProgrammingError: Cannot operate on a closed database.